@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-font-color: #f2e0ff;
  --secondary-font-color: #8b9cc0;
  --title-font-color: #e3f8fe;
  --success-color: #76c8ff;
  --warning-color: #be1d3d;
  --title-font: 'Gill Sans MT', sans-serif;
  --navigation-font: 'Poppins', sans-serif;
  --paragraph-font: 'Monserrat', sans-serif;
  --primary-bg-color: #002443;
  --secondary-bg-color: #002d36;
  --element-bg-color: #00262e87;
  --primary-btn-color: #006cab;
  --secondary-btn-color: #009698;
  --submit-btn-color: #002ba0;
  --card-border-color: #7c72c75c;
  --overlay-color: #1b1b1b81;
  --shadow: 0 0 0.75rem 0 #00000084;
  --focus-shadow: 0 0 0.5rem 4px var(--card-border-color);
  --card-border: 2px solid var(--card-border-color);
  --border-radius: 7px;
  --header-height: 6.5rem;
  color: var(--primary-font-color);
  font-family: var(--paragraph-font);
  letter-spacing: 1px;
}

:root * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
menu {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
  color: var(--title-font-color);
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center{
  text-align: center;
}

.success-message {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--success-color);
}

@media screen and (max-width: 980px) {
  :root {
    --header-height: 5.25rem;
  }
}